VITE_FIREBASE_API_KEY=AIzaSyBFmWz5zJKV8pNbCrEzSWC3b3I6UF_s6GA
VITE_FIREBASE_AUTH_DOMAIN=carelytics-dev.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=carelytics-dev
VITE_FIREBASE_STORAGE_BUCKET=carelytics-dev.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=273345795024
VITE_FIREBASE_APP_ID=1:273345795024:web:fbcd321482c767a8655fd5
# Optional:
VITE_FIREBASE_MEASUREMENT_ID=G-FNZTKTPKC3

